/* Container que envolve a imagem e o texto */
.container {
    position: relative;

    width: 70%; /* Define o tamanho da imagem e do container */
    border: 1px solid black;
    border-radius: 20px;

}

/* Imagem dentro do container */
.imagem {
    width: 100%;
    height: auto;
    border-radius: 20px;

}

/* Texto sobre a imagem */
.texto-sobre-imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta o deslocamente criado pelo top e left */
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(14, 255, 6, 0.7); /* Sombra para destacar o texto 
    text-shadow: [deslocamento horizontal] [deslocamento vertical] [desfoque] [cor];
    */

}
